<app-header-nav></app-header-nav>
<main class="mx-auto">
  <app-request-form #requestFormComponent (modify)="back()"></app-request-form>
  <app-resume (modify)="back()"></app-resume>
  <app-why-us></app-why-us>
  <app-allies></app-allies>
  <app-available-cities></app-available-cities>
  <app-faq></app-faq>
  <app-gamma-examples></app-gamma-examples>
  <app-nature-care></app-nature-care>
  <!-- <app-news></app-news> -->
  <app-put-it-to-work></app-put-it-to-work>
  <app-other-services></app-other-services>
  <!-- <app-comments></app-comments> -->
</main>
<app-footer></app-footer>
