#bg-nature-care{
  background-color: blueviolet;
  background-image: url('https://imagenes-publicas-zzcr-s3.s3.us-east-1.amazonaws.com/nature-care-min.webp');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}