<div class="py-5 px-3">
  <h2
    class="text-lettersGray dark:text-gray-400 text-extrabold-italic text-xl md:text-4xl text-center mb-10"
  >
    Gamas para todas tus necesidades
  </h2>

  <p-carousel
    [value]="gammas"
    [numVisible]="numVisible"
    [circular]="true"
    [numScroll]="1"
    autoplayInterval="2000"
  >
    <ng-template let-gamma #item>
      <div class="rounded-md m-2 p-1">
        <div class="relative mx-auto">
          <img
            loading="lazy"
            [src]="gamma.image_url"
            alt="Gammas images"
            class="w-full rounded-md"
            height="40"
          />
        </div>
        <div class="w-full">
          <p class="text-lettersGray dark:text-gray-400 text-xs text-center font-bold">{{ gamma.name }}</p>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>
