@if(news && news.length > 0){
<div class="py-5 px-3">
  <h2
    class="text-lettersGray dark:text-gray-400 text-extrabold-italic text-xl text-center mb-10"
  >
    Novedades
  </h2>

  <p-carousel
    [value]="news"
    [numVisible]="numVisible"
    [circular]="true"
    [numScroll]="1"
    autoplayInterval="2000"
  >
    <ng-template let-new #item>
      <div class="rounded-3xl m-2 bg-lightGray">
        <div class="relative mx-auto">
          <img
            loading="lazy"
            [src]="new.image_url  || 'https://imagenes-publicas-zzcr-s3.s3.us-east-1.amazonaws.com/video-zizicar-min.webp'"
            alt="New image"
            class="w-full rounded-t-3xl"
            height="40"
          />
        </div>
        <div class="w-full px-4 py-2">
          <h2
            class="text-lettersGray dark:text-gray-400 text-sm font-bold"
          >
            {{ new.title }}
          </h2>
          <p class="text-lettersGray dark:text-gray-400 text-xs">{{ new.paragraph }}</p>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>
}@else {
  <!-- Para no dañar el diseño cuando no hay noticias -->
  <div class="md:my-10"></div>
}
