<div class="bg-lightGray dark:bg-neutral-900 pt-5 md:py-20 md:rounded-t-3xl md:px-10">
  <div class="flex flex-col md:flex-row items-center md:justify-center mb-5">
    <h2
      class="text-secondary text-extrabold-italic text-xl md:text-3xl lg:text-5xl text-center mx-3"
    >
      Encuentra el carro perfecto con
    </h2>
    <img
      loading="lazy"
      src="https://imagenes-publicas-zzcr-s3.s3.us-east-1.amazonaws.com/logos/logo-zizicar.webp"
      height="80px"
      class="h-10"
      alt="ZiziCar Logo"
    />
  </div>

  <div class="w-full md:flex md:items-center md:justify-center">
    <a href="https://www.youtube.com/embed/sfCMLFLRFgE" target="_blank">
      <div
        id="video-zizicar"
        class="relative w-4/6 mx-auto bg-secondary rounded-xl flex justify-center items-center"
      >
        <fa-icon
          [icon]="faPlay"
          class="text-4xl text-white"
          style="z-index: 1"
        ></fa-icon>
        <div class="mask-primary rounded-xl"></div>
      </div>
    </a>
    <div
      class="relative md:flex md:justify-end bg-white w-5/6 mx-auto rounded-xl shadow-xl pt-28 md:py-3 md:pr-3 pb-10 px-4"
      id="why-us-content"
    >
      <p class="text-lettersGray dark:text-gray-400 text-center mb-5 md:hidden">
        <i
          >Eliminamos las búsquedas interminables y te ayudamos a encontrar el
          carro de alquiler ideal en simples pasos</i
        >
      </p>
      <div class="flex flex-col gap-3 md:gap-1 items-center md:w-4/6">
        <div class="md:flex md:gap-3 w-full p-3">
          <img
            class="mx-auto md:mx-0 mb-1"
            height="40"
            width="40"
            src="/icons/que-necesitas-icon.svg"
          />
          <div class="md:flex md:flex-col">
            <p
              class="text-lettersGray md:text-sm dark:text-gray-400 font-extrabold md:text-start text-center"
            >
              ¿Qué necesitas?
            </p>
            <p class="text-sm md:text-xs text-lettersGray dark:text-gray-400 md:text-start text-center">
              Tipo de gama, ciudad, fecha y horas
            </p>
          </div>
        </div>

        <div class="md:flex md:gap-3 w-full p-3">
          <img
            class="mx-auto md:mx-0 mb-1"
            height="40"
            width="40"
            src="/icons/variadas-ofertas-icon.svg"
          />
          <div class="md:flex md:flex-col">
            <p
              class="text-lettersGray md:text-sm dark:text-gray-400 font-extrabold text-center md:text-start"
            >
              Variadas ofertas
            </p>
            <p class="text-sm md:text-xs text-lettersGray dark:text-gray-400 text-center md:text-start">
              Recibe y compara múltiples opciones de agencias de alquiler de
              carros, ahorra tiempo, esfuerzo y dinero
            </p>
          </div>
        </div>

        <div class="md:flex md:gap-3 w-full p-3">
          <img
            class="mx-auto md:mx-0 mb-1"
            height="40"
            width="40"
            src="/icons/hacemos-el-resto-icon.svg"
          />
          <div class="md:flex md:flex-col">
            <p
              class="text-lettersGray md:text-sm dark:text-gray-400 font-extrabold text-center md:text-start"
            >
              Nosotros hacemos el resto
            </p>
            <p class="text-sm md:text-xs text-lettersGray dark:text-gray-400 text-center md:text-start">
              Enviaremos tu solicitud a todas las compañías de alquiler de carro
              en la ciudad que seleccionaste
            </p>
          </div>
        </div>

        <div class="md:flex md:gap-3 w-full p-3">
          <img
            class="mx-auto md:mx-0 mb-1"
            height="40"
            width="40"
            src="/icons/seguridad-garantizada-icon.svg"
          />
          <div class="md:flex md:flex-col">
            <p
              class="text-lettersGray md:text-sm dark:text-gray-400 font-extrabold text-center md:text-start"
            >
              Seguridad garantizada
            </p>
            <p class="text-sm md:text-xs text-lettersGray dark:text-gray-400 text-center md:text-start">
              Trabajamos solo con agencias de carros verificadas, con experiencia,
              reputación y servicios confiables para tu tranquilidad
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
