<img loading="lazy" src="https://imagenes-publicas-zzcr-s3.s3.us-east-1.amazonaws.com/tienes-un-carro-ponlo-a-trabajar.webp" class="w-full md:w-5/6 md:mx-auto md:rounded-t-xl">
<div class="py-5 px-3 md:bg-lightGray md:rounded-t-3xl md:h-60">
  <div id="how-put-it-to-work-container" class="flex flex-col md:flex-row md:justify-center md:relative md:bg-white md:max-w-content md:mx-auto md:rounded-3xl md:shadow-xl p-10">
    <div class="m-3 md:max-w-40 min:h-full">
      <img class="mx-auto mb-1 md:h-1/2" height="60" width="60" src="/icons/registra-tu-coche.svg">
      <div class="h-1/2">
        <p class="text-lettersGray dark:text-gray-400 font-extrabold text-center text-lg md:text-sm">Registra tu coche</p>
        <p class="text-sm md:text-xs text-lettersGray dark:text-gray-400 text-center">Añade la información sobre tu auto para contactarte</p>
      </div>
    </div>

    <div class="h-10 md:h-0 md:w-10 border border-primary bg-primary md:mx-0 md:my-auto mx-auto text-primary"></div>

    <div class="m-3 md:max-w-40 min:h-full">
      <img class="mx-auto mb-1 md:h-1/2" height="60" width="60" src="/icons/recibe-alquileres.svg">
      <div class="h-1/2">
        <p class="text-lettersGray dark:text-gray-400 font-extrabold text-center text-lg md:text-sm">Recibe alquileres</p>
        <p class="text-sm md:text-xs text-lettersGray dark:text-gray-400 text-center">
          Después de pasar la
          verificación los conductores
          podrán reservar tu auto
        </p>
      </div>
    </div>

    <div class="h-10 md:h-0 md:w-10 border border-primary bg-primary md:mx-0 md:my-auto mx-auto text-primary"></div>

    <div class="m-3 md:max-w-40 min:h-full">
      <img class="mx-auto mb-1 md:h-1/2" height="60" width="60" src="/icons/alquila-sin-esfuerzo.svg">
      <div class="h-1/2">
        <p class="text-lettersGray dark:text-gray-400 font-extrabold text-center text-lg md:text-sm">Alquila sin esfuerzos</p>
        <p class="text-sm md:text-xs text-lettersGray dark:text-gray-400 text-center">
          Los conductores pueden
          localizar tu auto y después 
          de inspeccionar el exterior 
          podrán abrirlo y cerrarlo con 
          su móvil
        </p>
      </div>
    </div>

    <div class="h-10 md:h-0 md:w-10 border border-primary bg-primary md:mx-0 md:my-auto mx-auto text-primary"></div>

    <div class="m-3 md:max-w-40 min:h-full">
      <img class="mx-auto mb-1 md:h-1/2" height="60" width="60" src="/icons/recibe-tus-pagos.svg">
      <div class="h-1/2">
        <p class="text-lettersGray dark:text-gray-400 font-extrabold text-center text-lg md:text-sm">Recibe tus pagos</p>
        <p class="text-sm md:text-xs text-lettersGray dark:text-gray-400 text-center">
          Recibes una transferencia
          bancaria después del
          fin de cada alquiler
        </p>
      </div>
    </div>
  </div>
</div>
