<div class="py-5 px-3 bg-lightGray">
  <div class="flex flex-col md:flex-row md:justify-evenly gap-5 items-center">
    <div class="flex flex-col items-center">
      <img
        loading="lazy"
        class="w-3/6 md:w-60"
        src="https://imagenes-publicas-zzcr-s3.s3.us-east-1.amazonaws.com/encuentra-vehiculo-perfecto.webp"
      />
      <h2
        class="text-lettersGray text-extrabold-italic text-xl text-center mb-1"
      >
        Encuentra el vehículo perfecto para tu aventura
      </h2>
      <button
        class="bg-primary text-white font-bold rounded-full px-6 py-2 mb-10"
      >
        Reserva un carro
      </button>
    </div>
    <div class="flex flex-col items-center">
      <img
        loading="lazy"
        class="w-5/6 md:w-80"
        src="https://imagenes-publicas-zzcr-s3.s3.us-east-1.amazonaws.com/lanza-tu-negocio.webp"
      />
      <h2
        class="text-lettersGray text-extrabold-italic text-xl text-center mb-1"
      >
        Lanza tu propio negocio y comienza a ganar
      </h2>
      <button
        class="bg-secondary text-white font-bold rounded-full px-6 py-2 mb-8"
      >
        Sé propietario
      </button>
    </div>
  </div>
</div>
